.available {
    background: url('/1487723-pink-21/source/img/blue\ back.png');
}

.available__list {
    list-style: none;
}

.available__copypast {
    text-align: center;
    color: #FFFFFF;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
}