.contacts {
    background: #FFFFFF;

    @media (min-width: @tablet-width) {
        .contacts__wrapper {
          width: 660px;
          display: flex;
          flex-direction: column;
          padding-left: 50px;
          padding-right: 50px;
          margin: 0;
        }
        .contacts__slogan {
            text-align: center;
            font-weight: 300;
            font-size: 40px;
            line-height: 54px;
            padding-left: 95px;
            padding-right: 95px;
        }
        .map {
            width: 1200px;
        }
    }

        @media (min-width: @desktop-width) {
            .contacts__wrapper {
              width: 1200px;
              display: flex;
              justify-content: space-between;
            }
            .contacts__slogan {
                text-align: center;
                font-weight: 300;
                font-size: 50px;
                line-height: 68px;
            }
            .map {
                width: 1200px;
            }
        }
}

.contacts__slogan {
    text-align: center;
    color: #283645;
    font-weight: 300;
    font-size: 24px;
    line-height: 120%;
    padding-bottom: 45px;
    padding-top: 50px;
    margin: 0;
}

.contacts__list {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
}

.contacts__item{
    padding-bottom: 33px;
}

.contacts__title {
    text-align: center;
    color: #283645;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    padding-bottom: 13px;
    margin: 0;
}

.contacts__email {
    text-decoration: none;
    text-align: center;
    color: #D22856;
    font-weight: 300;
    font-size: 24px;
    line-height: 33px;
    margin: 0;
}

.map {
    background:url('/1487723-pink-21/source/img/map.png');
    width: 320px;
    height: 200px;
}