.contact-info {
  background: #ffffff;
  margin: 0;
  padding: 23px 0 63px;
}


.contact-info__title {
  display: none;
  text-align: center;
  text-transform: uppercase;
  color: #d22856;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
}

.contact-info__item {
  display: block;
  width: 280px;
  margin: 0 auto 20px;
  text-align: left;
}

.contact-info__name {
  margin-left: 23px;
  color: #de6183;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}

.contact-info__input-wrapper {
  position: relative;
  display: block;
}

.contact-info__input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 15px 20px;
  border: 2px solid #e7e7e7;
  border-radius: 2px;
  color: #283645;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  outline: none;
}

.contact-info__input:hover {
  border: 2px solid #283645;
}

.contact-info__input:active {
  border: 2px solid #d22856;
}

@media (min-width: @tablet-width) {
  .contact-info {
    order: 2;
    position: relative;
    display: block;
    margin-bottom: 60px;
    padding: 30px 9.3%;
    border: 2px solid #e6e6e6;
  }

  .contact-info__title {
    display: block;
    min-width: 260px;
    margin: 0 auto;
    padding: 0;
    font-size: 14px;
    color: #de6183;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
    text-align: center;
  }

  .contact-info__item {
    width: 100%;
  }

  .contact-info__input-wrapper {
    flex-grow: 1;
  }

  .contact-info__input-wrapper--phone-icon::before {
    background: #e5e5e5 url("../img/phone\ icon.svg") no-repeat center;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 62px;
    height: 100%;
  }

  .contact-info__input-wrapper--mail-icon::before {
    background: #e5e5e5 url("../img/mail\ icon.svg") no-repeat center;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 62px;
    height: 100%;
  }
}

@media (min-width: @desktop-width) {
  .contact-info {
    width: 100%;
    margin-bottom: 52px;
    margin-top: 49px;
    padding: 30px 6.1% 17px;
  }

  .contact-info__item-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
  }

  .contact-info__item {
    width: 45.5%;
    margin: 0;
  }
}
