.diagramm {
  display: none;
}

@media (min-width: @tablet-width) {
  .diagramm {
    display: block;
    padding: 55px 7% 20px;
    background-color: #ffffff;
  }

  .diagramm__item {
    max-width: 300px;
    position: relative;
    padding: 40px 0 50px 50%;
    margin-bottom: 20px;
  }

  .diagramm__item::before {
    content: "";
    display: block;
    position: absolute;
    left: 18px;
    top: -2px;
    width: 242px;
    height: 280px;
    background: url("../img/timer.svg") no-repeat center;
    background-size: cover;
  }

  .diagramm__item::after {
    content: "24";
    display: block;
    position: absolute;
    left: 36px;
    top: 53px;
    width: 205px;
    height: 205px;
    text-align: center;
    font-size: 100px;
    font-weight: 700;
    line-height: 200px;
    color: #d22856;
    background: url("../img/diagram-fill.svg") no-repeat center;
    background-size: contain;
  }

  .diagramm__title {
    display: flex;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    align-items: center;
    color: #000000;
    width: 200px;
    margin: 0;
  }

  .diagramm__text {
    display: flex;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    align-items: center;
    color: #283645;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .diagramm__information {
    display: flex;
    align-items: center;
    text-decoration-line: underline;
    color: #d22856;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
  }

  .diagramm__wrapper {
    max-width: 660px;
    margin: 0 auto;
  }
}

@media (min-width: @desktop-width) {
  .diagramm {
    background: #f2f2f2;
    padding: 120px 0 90px;
    background-position: 15% center;
  }

  .diagramm__wrapper {
    max-width: 940px;
    margin: 0 auto;
  }

  .diagramm__title {
    width: auto;
    margin: 0 0 20px;
    padding-left: 15px;
  }

  .diagramm__text {
    font-size: 18px;
    line-height: 30px;
    margin: 0;
    padding-left: 15px;
    width: 534px;
  }

  .diagramm__information {
    padding-top: 30px;
    padding-left: 15px;
    font-size: 18px;
    line-height: 30px;
  }

  .diagramm__item {
    margin-left: 38%;
    max-width: 530px;
    padding: unset;
  }

  .diagramm__item::before {
    left: -345px;
    top: -93px;
    width: 300px;
    height: 346px;
  }

  .diagramm__item::after {
    left: -321px;
    top: -24px;
    width: 253px;
    height: 254px;
    font-size: 120px;
    line-height: 240px;
  }
}
