.draw {
    background: #FFFFFF;
}

.draw__wrapper {
    @media (min-width: @tablet-width) {
        .draw__wrapper {
          width: 660px;
          display: flex;
          justify-content: center;
          flex-direction: column;
        }
        .draw__copyright {
            text-align: center;
            color: #283645;
            font-weight: normal;
            font-size: 18px;
            line-height: 30px;
        }
        .draw__form-list {
            display: flex;
            flex-direction: column;
        }
        .draw__form-input {
            width: 521px;
            height: 59px;
            border: 2px solid #E5E5E5;
            border-radius: 1px;
        }
        .draw__form-input-name {
            width: 561px;
            height: 59px;
            border: 2px solid #E5E5E5;
            border-radius: 1px;
        }
}
    @media (min-width: @desktop-width) {
        .draw__wrapper{
        width: 1200px;
        display: flex;
        justify-content: left;
        flex-direction: column;
        }
        .draw__copyright {
            text-align: center;
            color: #283645;
            font-weight: normal;
            font-size: 18px;
            line-height: 30px;
        }
        .draw__form-list {
            display: flex;
            flex-direction: column;
        }
        .draw__form-input {
            width: 336px;
            height: 59px;
            border: 2px solid #E5E5E5;
            border-radius: 1px;
        }
        .draw__form-input-name {
            width: 376px;
            height: 59px;
            border: 2px solid #E5E5E5;
            border-radius: 1px;
        }

}
}

.draw__copyright {
    text-align: center;
    color: #283645;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
}

.draw__form-list {
    list-style: none;
}

.draw__form-name {
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    color: #D22856;
}

.draw__form-input {
    width: 276px;
    height: 59px;
    border: 2px solid #E5E5E5;
    border-radius: 1px;
}
