.draw {
  padding-bottom: 24px;
}

.draw__item {
  display: block;
  width: 280px;
  margin: 0 auto 17px;
  text-align: left;
}

.draw__item-name {
  margin-left: 23px;
  color: #d22856;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}

.draw__input__wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}

.draw__input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 15px 20px;
  border: 2px solid #e7e7e7;
  border-radius: 2px;
  color: #283645;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  outline: none;
  letter-spacing: 0.5px;
}

.draw__input__wrapper input:hover {
  border: 2px solid #283645;
}

.draw__input__wrapper input:active {
  border: 2px solid #d22856;
}

@media (min-width: @tablet-width) {
  .draw {
    margin-top: 60px;
    margin-bottom: 0;
  }

  .draw__item {
    display: flex;
    align-items: center;
    width: auto;
    padding: 0 0 50px 20px;
    margin: 0;
  }

  .draw__item-name {
    margin-left: 0;
    margin-right: 20px;
  }

  .draw__input__wrapper {
    flex-grow: 1;
    min-width: 400px;
  }
}

@media (min-width: @desktop-width) {
  .draw {
    max-width: 433px;
    margin: 0;
    padding: 35px 0 0 0;
  }

  .draw__input__wrapper {
    min-width: 336px;
  }

  .draw__item {
    max-width: 433px;
    margin: 0 0 54px;
    padding-left: 0;
    padding-bottom: 0;
  }

  .draw__item:last-child {
    margin-bottom: 0;
  }
}
