.form-main__title {
  width: 280px;
  margin: 0 auto 35px;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
}

.form-main__title--tablet {
  display: none;
}

.form-main {
  padding: 45px 0 15px;
  background: #ffffff;
  text-align: center;
}

.form-main__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.form-main__fieldset--send {
  margin-left: 20px;
  margin-right: 20px;
}

@media (min-width: @tablet-width) {
  .form-main {
    display: flex;
    flex-direction: column;
    max-width: 660px;
    margin: 0 auto;
    padding: 0;
  }

  .form-main__title {
    width: 500px;
    font-size: 18px;
    line-height: 30px;
    margin: 91px auto 10px;
  }

  .form-main__title--tablet {
    display: unset;
  }

  .form-main__fieldset {
    padding-left: 20px;
    padding-right: 20px;
  }

  .form-main__fieldset--app {
    margin: 9px 0 54px;
  }

  .form-main__fieldset--contact-info {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 58px;
  }

  .form-main__fieldset--send {
    margin-bottom: 66px;
  }
}

@media (min-width: @desktop-width) {
  .form-main {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 940px;
    padding: 91px 4.7% 0;
  }

  .form-main__title {
    width: 770px;
    margin: 0 auto 50px;
  }

  .form-main__fieldset--contact-info {
    margin-top: 50px;
    margin-left: 0;
    margin-right: 0;
  }

  .form-main__fieldset--send {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 63px;
  }
}
