.form-main__title {
  width: 280px;
  margin: 0 auto 40px;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
}

.form-main {
  padding: 33px 0 30px;
  background: #fff;
  text-align: center;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.page-title {
  box-sizing: border-box;
  min-height: 236px;
  padding: 53px 6% 40px;
  background: url('../img/bg-back-mobile@1x.jpg') no-repeat top;
  background-size: cover;
  text-align: center;
}

@media (min-resolution: 2dppx) {
  .page-title{
    background-image: url('../img/bg-back-mobile@2x.jpg');
    background-size: cover;
  }
}

.page-title__text {
  width: 253px;
  margin: 44px auto 15px;
  color: #fff;
  font-size: 24px;
  font-weight: 100;
  line-height: 30px;
}

@media (min-width: @tablet-width) {
  .form-main {
    display: flex;
    flex-direction: column;
    max-width: 816px;
    margin: 0 auto;
    padding: 40px 4.7%;
  }
  .form-main__title {
    width: 500px;
    font-size: 18px;
    line-height: 30px;
  }
  .page-title {
    padding: 130px 0;
    background: url('../img/bg-back-tablet@1x.jpg') no-repeat center 7%;
    background-size: cover;
    background-color: #1d2631;
  }
  @media (min-resolution: 2dppx) {
    .page-title{
      background-image: url('../img/bg-back-tablet@2x.jpg');
      background-size: cover;
    }
  }
  .page-title__text {
    width: 500px;
    font-size: 50px;
    line-height: 63px;
  }
}

@media (min-width: @desktop-width) {
  .form-main {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1170px;
    padding: 80px 10.3% 0;
  }
  .form-main__title {
    width: 770px;
    margin: 0 auto 50px;
  }
  .page-title {
    padding: 130px 0 40px;
    background: url('../img/bg-back-desktop@1x.jpg') no-repeat center top;
    background-size: cover;
    background-color: #1d2631;
    margin-top: -110px;
  }
  @media (min-resolution: 2dppx) {
    .page-title{
      background-image: url('../img/bg-back-desktop@2x.jpg');
      background-size: cover;
    }
  }
  .page-title__text {
    width: 747px;
    margin: 44px auto 60px;
  }
  .page-title__text--catalog {
    width: 500px;
  }
}
