.gallery {
  padding: 40px 0 22px;
  background: #fff;
  font-family: opensans,Arial,sans-serif;
  text-align: center;
}

.gallery__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.gallery__author-info-day {
  box-sizing: border-box;
  max-width: 280px;
  margin: 0 auto;
  padding: 19px;
  text-align: left;
  background-color: #f2f2f2;
}

.gallery__author-info {
  box-sizing: border-box;
  max-width: 280px;
  margin: 0 auto;
  padding: 19px;
  text-align: left;
  background-color: #f2f2f2;
}

.gallery__item {
  max-width: 280px;
  margin: 0 auto 21px;
}

.gallery__image--day {
  max-width: none;
}

.gallery__a {
  max-width: none;
  margin: 0;
}

.gallery__info {
  width: 280px;
  margin: 5px auto 50px;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
}

.gallery__author-image-day {
  position: relative;
  display: block;
  line-height: 0;
}

.gallery__author-image {
  display: block;
  line-height: 0;
}

.gallery__author-image-day::before {
  position: absolute;
  top: 0;
  right: 4%;
  content: 'панорама дня';
  width: 140px;
  height: 36px;
  font-size: 12px;
  line-height: 36px;
  text-transform: uppercase;
  color: #fff;
  background-color: #d22856;
}

.gallery__author-image-day img {
  width: 100%;
}

.gallery__author-name {
font-size: 14px;
line-height: 24px;
}

.gallery__author-time {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 24px;
  color: #79818a;
  margin: 0;
}

.gallery__text {
  margin: 0 0 6px;
  font-size: 14px;
  line-height: 24px;
}

.gallery__like {
  display: inline-block;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  color: #d43560;
}

.gallery__heart--icon-day {
  line-height: 26px;
  margin-right: 13px;
  font-size: 22px;
  font-weight: 700;
  vertical-align: bottom;
  text-decoration: none;
  color: #d43560;
  background-color: transparent;
}

@media (min-width: @tablet-width) {
  .gallery {
    padding-bottom: 40px;
  }
  .gallery__info {
    width: 440px;
    margin: 50px auto 78px;
    font-size: 18px;
    line-height: 30px;
  }
  .gallery__author-info-day {
    position: relative;
    max-width: 816px;
    margin: 0 auto 50px;
  }
  .gallery__author-info-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 816px;
    margin: 0 auto;
    padding: 0 5%;
  }
  .gallery__item--wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 816px;
    margin: 0 auto;
    padding: 0 5%;
  }
  .gallery__item {
    display: flex;
    flex-direction: column;
    max-width: none;
    width: 300px;
    margin: 0 0 21px;
  }
  .gallery__image--day {
    display: block;
    width: 100%;
  }
  .gallery__author-info {
    position: relative;
    flex-grow: 1;
    width: 100%;
    max-width: none;
    margin: 0 auto;
    padding: 19px;
  }
  .gallery__author-name {
    max-width: 350px;
  }
  .gallery__text {
    margin: 0 0 36px;
    font-size: 14px;
    line-height: 24px;
  }
  .gallery__heart--icon-day {
    position: absolute;
    bottom: 19px;
    right: 19px;
    display: block;
    max-width: 20px;
    max-height: 30px;
    overflow: hidden;
  }
  .gallery__like {
    position: absolute;
    bottom: 19px;
    left: 19px;
    max-width: 150px;
    max-height: 20px;
    overflow: hidden;
  }
}

@media (min-width: @desktop-width) {
  .gallery__info {
    width: 572px;
  }
  .gallery__author-info-wrapper {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 10.3%;
  }
  .gallery__author-info-day {
    width: 100%;
    max-width: 1170px;
  }
  .gallery__text {
    font-size: 14px;
    line-height: 24px;
  }
  .gallery__item--wrapper {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 10.3%;
  }
}