.information__title-wrap {
  padding-top: 55px;
  margin: 0 auto;
  background-color: #ffffff;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  color: #283645;
  text-align: center;
}

.information__slogan {
  display: block;
  width: 280px;
  margin: 0 auto 28px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  color: #283645;
  text-align: center;
}

.information__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  color: #000000;
  padding: 0;
  margin: 10px auto 18px;
}

.information__item-container {
  position: relative;
  min-width: 320px;
  background: #f2f2f2;
  background-image: url("../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
  margin-bottom: 0;
  padding: 26px 0 0;
  text-align: center;
  background-clip: border-box;
}

.information__item {
  max-width: 275px;
  margin: 0 auto 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.information__title {
  text-align: center;
  color: #000000;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  padding-bottom: 14px;
  padding-top: 43px;
  margin: 0;
}

.information__title--two {
  padding-top: 30px;
}

.information__title--three {
  padding-top: 30px;
}

.information__description {
  text-align: center;
  color: #283645;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  margin: 0;
}

@media (max-width: @tablet-width) {
  .information__item-container::after {
    content: "";
    display: block;
    height: 300px;
    background: url("../img/iphone-screen-mobile@1x.png") no-repeat center 30px;
  }

  @media (min-resolution: 2dppx) {
    .information__item-container::after {
      content: "";
      display: block;
      height: 300px;
      background: url("../img/iphone-screen-mobile@2x.png") no-repeat center 30px;
      background-size: contain;
    }
  }
}

@media (min-width: @tablet-width) {
  .information__title-wrap {
    max-width: 660px;
    padding: 50px 0 0;
    font-size: 40px;
    line-height: 48px;
  }

  .information__slogan {
    width: auto;
    margin: 0;
    font-size: 40px;
    line-height: 54px;
  }

  .information__item-container {
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 0;
    background-position-y: -17px;
  }

  .information__list {
    max-width: 660px;
    margin: 0 auto;
    text-align: left;
    position: relative;
    padding-bottom: 10px;
  }

  .information__item {
    text-align: left;
    width: 310px;
    max-width: unset;
    margin-left: 50%;
  }

  .information__item--screen-two {
    margin-top: 35px;
  }

  .information__item--screen-three {
    margin-top: 35px;
  }

  .information__title {
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 13px;
    padding: 0;
    text-align: left;
  }

  .information__description {
    text-align: left;
    color: #283645;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    margin: 0;
  }
}

@media (max-width: 1199px) and (min-width: @tablet-width) {
  .information__list::before {
    content: "";
    display: block;
    position: absolute;
    left: -350px;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    width: 300px;
    height: 520px;
    background: url("../img/iphone-screen-3-tablet@1x.png") no-repeat center 50px;
  }

  @media (min-resolution: 2dppx) {
    .information__list::before {
      background: url("../img/iphone-screen-3-tablet@2x.png") no-repeat center 50px;
      background-size: 270px;
    }
  }
}

@media (min-width: @desktop-width) {
  .information__wrapper {
    width: 1200px;
    display: flex;
  }

  .information__slogan {
    align-items: center;
    text-align: center;
    font-weight: 300;
    font-size: 50px;
    line-height: 68px;
  }

  .information__slogan:last-child {
    text-align: center;
    margin-bottom: 0;
    margin-top: 0;
  }

  .information__list {
    display: flex;
    justify-content: space-between;
    flex-direction: unset;
    max-width: 1200px;
    margin: 0 auto;
    list-style: none;
  }

  .information__item-container {
    max-width: 940px;
    padding: 0 120px 0;
  }

  .information__title-wrap {
    max-width: 940px;
    padding: 65px 0 30px;
  }

  .information__item {
    max-width: 250px;
    margin-top: 0;
    margin-left: auto;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
  }

  .information__item--screen-one::before {
    content: "";
    display: block;
    width: 186px;
    height: 382px;
    margin: 0 auto;
    background: url("../img/iphone-screen-1-desktop@1x.png") no-repeat center 50px;
  }

  .information__item--screen-two::before {
    content: "";
    display: block;
    width: 186px;
    height: 382px;
    margin: 0 auto;
    background: url("../img/iphone-screen-2-desktop@1x.png") no-repeat center 50px;
  }

  .information__item--screen-three::before {
    content: "";
    display: block;
    width: 186px;
    height: 382px;
    margin: 0 auto;
    background: url("../img/iphone-screen-3-desktop@1x.png") no-repeat center 50px;
  }

  @media (min-resolution: 2dppx) {
    .information__item--screen-one::before {
      background: url("../img/iphone-screen-1-desktop@2x.png") no-repeat center;
      background-size: 292px;
    }

    .information__item--screen-two::before {
      background: url("../img/iphone-screen-2-desktop@2x.png") no-repeat center;
      background-size: 292px;
    }

    .information__item--screen-three::before {
      background: url("../img/iphone-screen-3-desktop@2x.png") no-repeat center;
      background-size: 292px;
    }
  }

  .information__title {
    font-weight: bold;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    padding-bottom: 35px;
    margin: 0;
  }

  .information__description {
    text-align: center;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
  }
}
