.intro {
  padding-top: 0;
  text-align: center;
}

.intro__wrapper {
  text-align: center;
  background: #1D2631;
}

.intro__slogan {
  text-align: center;
  color: #FFFFFF;
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  padding-top: 95px;
  min-height: 460px;
  padding: 0 20px;
  margin: 0;
  background: url('../img/iphone-hand-mobile@1x.png')50% 220px no-repeat, url('../img/bg-back-mobile@1x.jpg')50% 0 no-repeat;
  background-size: contain, cover;
}

@media (min-resolution: 2dppx) {
  .intro__slogan {
    background: url('../img/iphone-hand-mobile@2x.png')10% 270px no-repeat, url('../img/bg-back-mobile@1x.jpg')50% 0 no-repeat;
    background-size: 260px, cover;
  }
}

.intro__wrapper h2 {
  padding-top: 95px;
}

.button-main {
  width: 280px;
  padding: 20px 30px;
  margin: 0 auto;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  background: transparent;
  color: #FFFFFF;
  border: 3px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 29px;
}

.button-main:hover {
  background: #FFFFFF;
  border: 3px solid #FFFFFF;
  box-sizing: border-box;
  box-shadow: 0px 5px 7px rgba(1, 1, 1, 0.75);
  border-radius: 30px;
  color: #D22856;
}

.button-main:active {
  color: #D22856;
  opacity: 0.3;
}

@media (min-width: @tablet-width) {
  .intro {
    background: url('../img/iphone-hand-tablet@1x.png') no-repeat bottom, url('../img/bg-back-tablet@1x.jpg') no-repeat;
    padding-top: 110px;
    background-size: 600px, cover;
    padding: 180px 5% 60px;
  }

  @media (min-resolution: 2dppx) {
    .intro {
      background: url('../img/iphone-hand-tablet@2x.png') no-repeat bottom, url('../img/bg-back-tablet@2x.jpg') no-repeat;
      background-color: #1d2631;
      background-size: 600px, cover;
    }
  }

  .intro__wrapper h2 {
    padding-top: 0;
  }

  .intro__wrapper {
    padding: 0;
    width: 300px;
    margin: 0 62% 0 auto;
    background-color: transparent;
  }

  .intro__slogan {
    display: block;
    max-width: 200px;
    margin: 0 auto 35px;
    font-size: 40px;
    font-weight: 100;
    line-height: 52px;
    color: #fff;
    min-height: unset;
    background: transparent;
  }

  .button-main {
    width: 300px;
    padding: 21px 49px 21px 48px;
    border: 3px solid #fff;
    line-height: 1;
    margin: 0 auto 20px;
  }
}

@media (min-width: @desktop-width) {
  .intro {
    min-height: 855px;
    padding: 0 10%;
    background: url('../img/iphone-hand-desktop@1x.png')75% 100% no-repeat, url(../img/bg-back-desktop@1x.jpg)50% 50% no-repeat;
    font-size: 50px;
    margin-top: -114px;
  }

  @media (min-resolution: 2dppx) {
    .intro {
      background: url('../img/iphone-hand-desktop@2x.png')75% 100% no-repeat, url('../img/bg-back-desktop@2x.jpg') no-repeat center;
      background-color: #1d2631;
      background-size: 1050px, cover;
    }
  }

  .intro__slogan {
    padding: 0;
    font-size: 50px;
    line-height: 60px;
    max-width: 300px;
    text-align: center;
    margin: 0 10px;
  }

  .intro__wrapper h2 {
    padding-top: 220px;
  }

  .button-main {
    font-size: 21px;
    padding: 20px 32px 20px 31px;
  }
}
