.page-footer {
  background: #ffffff;
}

.page-footer__wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  max-width: 320px;
  margin: 0 auto;
}

.page-footer__copyright {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  padding-top: 24px;
}

.page-footer__logo {
  margin: 0 auto;
  padding-top: 27px;
}

.copyright__text {
  text-align: center;
  color: #283645;
  font-weight: normal;
  font-size: 14px;
  padding-top: 6px;
  padding-bottom: 51px;
  padding-right: 15px;
  margin: 0;
}

.social__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin-top: 31px;
}

.social__item {
  display: inline-block;
  vertical-align: middle;
  margin: 0 4px;
  font-size: 14px;
}

.social__link {
  display: block;
  width: 48px;
  height: 48px;
  line-height: 49px;
  text-align: center;
  text-decoration: none;
  border: 3px solid #e9ebec;
  border-radius: 50%;
}

.social__link:hover {
  background: #ffffff;
  border: 3px solid #283645;
}

.social__link:active {
  opacity: 0.1;
}

.copyright__link svg {
  vertical-align: middle;
  fill: #d22856;
}

.copyright__link svg:hover {
  fill: #283645;
}

.copyright__link svg:active {
  fill: #283645;
  opacity: 0.3;
}

.social__link svg {
  fill: #d22856;
}

.page-footer__logo img:hover {
  fill: #d22856;
}

.page-footer__logo img:active {
  background: #283645;
  opacity: 0.3;
}

@media (min-width: @tablet-width) {
  .page-footer {
    padding: 24px 0 50px;
  }

  .page-footer__wrapper {
    max-width: 660px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    flex-direction: unset;
    padding: 0 20px;
    box-sizing: border-box;
  }

  .social__list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding-top: 20px;
    padding-right: 19px;
  }

  .social__item {
    margin: 0 4px;
  }

  .page-footer__copyright {
    margin: 0;
    padding-top: 20px;
  }

  .copyright__link {
    vertical-align: middle;
  }

  .copyright__text {
    padding: 0;
    padding-right: 15px;
  }

  .page-footer__logo {
    margin: 0;
    padding-top: 0;
  }
}

@media (min-width: @desktop-width) {
  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 940px;
    padding: 0;
  }

  .copyright__text {
    font-weight: normal;
    font-size: 18px;
    padding: 0 15px 0 0;
  }

  .page-footer__logo {
    padding: 65px 0 0;
  }

  .social__list {
    padding: 65px 0 0;
  }

  .page-footer__copyright {
    padding: 70px 0 0;
  }

  .page-footer {
    padding: 15px 0 50px;
  }
}
