.page-footer {
  background: #FFFFFF;
}

.page-footer__wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.page-footer__copyright {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.copyright__logo {
  width: 27px;
  height: 34px;
}

.copyright__text {
  text-align: center;
  color: #283645;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  padding-bottom: 51px;
  margin: 0;
}

.social__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}

.social__item {
  display: inline-block;
  vertical-align: middle;
  margin: 0 8px;
}

.social__link {
  display: block;
  width: 48px;
  height: 48px;
  border: 3px solid #e9ebec;
  border-radius: 50%;
  text-decoration: none;
}

.social__link--twitter {
  background: url("..//img/twitter.svg") no-repeat center;
}

.social__link--facebook {
  background: url("..//img/facebook\ \(1\).svg") no-repeat center;
}

.social__link--youtube {
  background: url("..//img/youtube.svg") no-repeat center;
}

@media (min-width: @tablet-width) {
  .page-footer {
    padding: 35px 5.8%;
  }

  .page-footer__wrapper {
    width: 660px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    flex-direction: unset;
  }

  .social__list {
    display: flex;
    justify-content: space-between;
  }

  .copyright__link {
    vertical-align: middle;
  }

  .copyright__text {
    padding: 0;
  }
}

@media (min-width: @desktop-width) {
  .page-footer__wrapper {
    width: 1200px;
    display: flex;
    justify-content: space-between;
  }

  .copyright__text {
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
  }
}
