.reviews {
    background: #FFFFFF;
}

.reviews__author-name {
    text-align: center;
    color: #000000;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    padding-bottom: 31px;
}

.reviews__text {
    text-align: center;
    color: #283645;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
}