.tariffs {
    position: relative;
    background-color: #F2F2F2;
    
    &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 30px;
    background-image: linear-gradient(to left top, transparent 50%, #F2F2F2 50%);
    }
    }
    
    .tariffs__wrapper {
    position: relative;
    padding-top: 427px;
    padding-bottom: 40px;
    overflow: hidden;
    }
    
    .tariffs__table {
    position: absolute;
    top: 115px;
    left: calc(-100vw + 40px + 20px);
    width: calc((100% - 20px * 2) * 3);
    border-collapse: collapse;
    border-radius: 3px;
    overflow: hidden;
    
    & td {
    width: calc(100% / 3);
    box-sizing: border-box;
    }
    }
    
    .tariffs__item {
    padding-top: 16px;
    padding-right: 20px;
    padding-bottom: 29px;
    padding-left: 20px;
    color: #283645;;
    text-align: center;
    background-color: #283645;
    border-left: 2px solid #283645;
    border-right: 2px solid #283645;
    
    &:nth-child(2) {
    border-left-color: #E5E5E5;
    border-radius: 3px 0 0 0;
    }
    
    &:last-child {
    border-right-color: #E5E5E5;
    border-radius: 0 3px 0 0;
    }
    }
    
    .tariffs_hit {
    position: relative;
    
    &::before {
    content: "hit";
    position: absolute;
    top: 0;
    left: -2px;
    }
    }
    
    .tariffs__tariff-name {
    @include: title-style-reset;
    margin-bottom: 3px;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
    }
    
    .tariffs__tariff-cost {
    @include: paragraph-style-reset;
    font-weight: 300;
    font-size: 18px;
    color: #FFFFFF;
    }
    
    .tariffs__service {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 18px;
    padding-right: 15px;
    padding-bottom: 18px;
    padding-left: 21px;
    text-transform: uppercase;
    }
    
    .tariffs__table-empty-cell {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    }
    
    .tariffs__include {
    padding-right: 18px;
    padding-left: 18px;
    text-align: right;
    background-color: #FFFFFF;
    border: 2px solid #283645;
    
    tr:nth-child(2) & {
    border-top-color: #283645;
    }
    
    tr:last-child &:nth-child(2) {
    border-radius: 0 0 0 3px;
    }
    
    tr:last-child &:last-child {
    border-radius: 0 0 3px 0;
    }
    }
    
    .tariffs__include--yes {
    &::after {
    content: "yes";
    display: block;
    padding-top: 19px;
    padding-bottom: 18px;
    height: 21px;
    }
    }
    
    .tariffs__include--no {
    &::after {
    content: "no";
    display: block;
    padding-top: 16px;
    padding-bottom: 14px;
    height: 27px;
    }
    }
    
    .tariffs__controls {
    @include: list-style-reset;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    }
    
    .tariffs__control {
    @include: button-style-reset;
    
    width: 6px;
    height: 6px;
    background-color: rgba(#283645, 0.3);
    background-clip: padding-box;
    border: 10px solid transparent;
    border-radius: 50%;
    
    &:hover,
    &:focus {
    background-color: rgba(#283645, 0.6);
    }
    
    &:active {
    background-color: rgba(#283645, 0.1);
    }
    
    &--current {
    margin: 7px;
    background-color: #FFFFFF;;
    border: 3px solid #283645;
    
    &:hover,
    &:focus,
    &:active {
    background-color: #FFFFFF;;
    }
    }
    }